
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@model IEnumerable<Empleado.Models.Empleados>

@{
    ViewBag.Title = "Lista de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Empleados</h2>

<p>
    @Html.ActionLink("Crear Nuevo Empleado", "create")
</p>

<table class="table">
    <tr>
        <th>Cedula</th>
        <th>Nombre1</th>
        <th>Nombre2</th>
        <th>Apellido1</th>
        <th>Apellido2</th>
        <th>CodigoCargo</th>
        <th>Acciones</th>
    </tr>


    @foreach (var empleado in Model)
    {
        <tr>
            <td>@empleado.Cedula</td>
            <td>@empleado.Nombre1</td>
            <td>@empleado.Nombre2</td>
            <td>@empleado.Apellido1</td>
            <td>@empleado.Apellido2</td>
            <td>@empleado.CodigoCargo</td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = empleado.Cedula }) |
                @Html.ActionLink("Editar", "Edit", new { id = empleado.Cedula }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = empleado.Cedula })
            </td>
        </tr>
    }

    <h2>Crear Empleado</h2>


</table>
